@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}
.login-box{}

import {ScrollView} from 'react-native'
import ProfileScreen from "@/components/ProfileScreen";
import Login from "@/components/Login.jsx";

export default function LoginPage (){return(
    <ScrollView className="Flex-1">
      <Login />
    </ScrollView>)}

<Stack.Navigator>
  <Stack.Screen name="Profile" component={ProfileScreen} />
</Stack.Navigator>
